body {
    background-color: lightgray;
}

h1, h2, h3, h4, h5, h6 {
    /* Make h tags responsive */
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.header {
    background: red;
    color: white;
    height: 50px;
    padding: 10px;
    font-size: 20px;
}

.input-style {
    border-radius: 10px;
}


.login-button, .login-button:hover {
    background: black;
    color: white;
    border-radius: 10px;
}

.form-fields {
    width: 300px;
}

.signup-button {
    margin-left: 350px;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 26px;
}

.roll-call {
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 20px;
}

.post-button {
    background: red;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

.roll-call-post {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.index-image {
    margin-right: 70px;
    border: 3px solid #000;
}

.logo-image {
    margin-top: -5px;
}


.has-error .error-text {
    display: inline;
    color: #A94442;
}

#comment-style {
    background-color: yellow;
    border: 1px solid black;
}

.black-link {
    color: black;
    font-weight: bold;
}